# ==============================
# Node / Electron
# ==============================
node_modules/
dist/
out/
build/
release/
runtime/

# ==============================
# Python
# ==============================
__pycache__/
*.pyc
venv/
.env

# ==============================
# AI / Models (VERY LARGE)
# ==============================
models/
vosk_model/

# ==============================
# Generated / Runtime Data
# ==============================
recordings/
build_engine/dist/
build_engine/work/
build_engine/spec/


# ==============================
# Binaries
# ==============================
*.exe
*.dll
*.so
*.dylib

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db
