pyinstaller==6.10.0
vosk
pyaudiowpatch
python-dotenv

langchain
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers

pypdf
python-docx
python-pptx
numpy==2.3.5

google-generativeai


